@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


$main-font: 'Maven Pro', sans-serif;
$background-main : #c7c7c7;
$background-secondary: #e7e7e7;
$background-secondary-variation : #cecece;
$font-color : #050038;
$font-title-color : #000069;